<div class="row">
  <h2>Completa los datos</h2>
  <div class="col-8">
    <div class="border border-dark rounded-pill d-flex p-2 my-3" style="margin-left: 82%;">
      <button mat-mini-fab style="width: 25%; height: 100%;" *ngIf="botono">-</button>
      <button mat-mini-fab style="width: 25%; height: 100%;" *ngIf="botono1" (click)="mostrarocultar1()">-</button>
      <button mat-mini-fab style="width: 25%; height: 100%;" *ngIf="botono2" (click)="mostrarocultar2()">-</button>
      <button mat-mini-fab style="width: 25%; height: 100%;" *ngIf="botono3" (click)="mostrarocultar3()">-</button>
      <button mat-mini-fab style="width: 25%; height: 100%;" *ngIf="botono4" (click)="mostrarocultar4()">-</button>
      <button mat-mini-fab style="width: 25%; height: 100%;" *ngIf="botono5" (click)="mostrarocultar5()">-</button>
      <button mat-mini-fab style="width: 25%; height: 100%;" *ngIf="botono6" (click)="mostrarocultar6()">-</button>
      <button mat-mini-fab style="width: 25%; height: 100%;" *ngIf="botono7" (click)="mostrarocultar7()">-</button>
      <button mat-mini-fab style="width: 25%; height: 100%;" *ngIf="botono8" (click)="mostrarocultar8()">-</button>
      <button mat-mini-fab style="width: 25%; height: 100%;" *ngIf="botono9" (click)="mostrarocultar9()">-</button>  
      <div style="margin-left: 16%; margin-right: 16%;" >{{cer}}{{aea}}</div>
      <button mat-mini-fab style="width: 25%; height: 100%;" *ngIf="botonm1" (click)="mostrarocultar1()">+</button>
      <button mat-mini-fab style="width: 25%; height: 100%;" *ngIf="botonm2" (click)="mostrarocultar2()">+</button>
      <button mat-mini-fab style="width: 25%; height: 100%;" *ngIf="botonm3" (click)="mostrarocultar3()">+</button>
      <button mat-mini-fab style="width: 25%; height: 100%;" *ngIf="botonm4" (click)="mostrarocultar4()">+</button>
      <button mat-mini-fab style="width: 25%; height: 100%;" *ngIf="botonm5" (click)="mostrarocultar5()">+</button>
      <button mat-mini-fab style="width: 25%; height: 100%;" *ngIf="botonm6" (click)="mostrarocultar6()">+</button>
      <button mat-mini-fab style="width: 25%; height: 100%;" *ngIf="botonm7" (click)="mostrarocultar7()">+</button>
      <button mat-mini-fab style="width: 25%; height: 100%;" *ngIf="botonm8" (click)="mostrarocultar8()">+</button>
      <button mat-mini-fab style="width: 25%; height: 100%;" *ngIf="botonm9" (click)="mostrarocultar9()">+</button>
      <button mat-mini-fab style="width: 25%; height: 100%; " *ngIf="botona">+</button>
    </div>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title >
            Datos del participante - 1
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Tipo de documento</mat-label>
              <mat-select>
                <mat-option value="option">DNI</mat-option>
                <mat-option value="option">Carnet de extranjería</mat-option>
                <mat-option value="option">Pasaporte</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-5">
            <mat-form-field style="width: 100%;">
              <mat-label>Nr. Documento</mat-label>
              <input matInput [formControl]="dni" required>
              <mat-error *ngIf="dni.invalid">{{getdni()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-1">
            <div class="rounded-circle"
              style="width: 100%; height: 40%; background-color: rgb(0, 0, 0); margin-left: -10%; margin-top: 30%;">
              <svg xmlns="http://www.w3.org/2000/svg" height="50%" style="margin-top: 25%; margin-left: 25%; "
                viewBox="0 0 512 512">
                <style>
                  svg {
                    fill: #ffffff
                  }
                </style>
                <path
                  d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
              </svg>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Nombres</mat-label>
              <input matInput [formControl]="nom" required>
              <mat-error *ngIf="nom.invalid">{{getnom()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Apellidos</mat-label>
              <input matInput [formControl]="ape" required>
              <mat-error *ngIf="ape.invalid">{{getape()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Teléfono</mat-label>
              <input matInput [formControl]="telf" required>
              <mat-error *ngIf="telf.invalid">{{gettelf()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Dirección</mat-label>
              <input matInput [formControl]="dir" required>
              <mat-error *ngIf="dir.invalid">{{getdir()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Correo electrónico</mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field style="width: 100%;">
              <mat-label>Hora</mat-label>
              <input matInput [formControl]="hora" required type="time">
              <mat-error *ngIf="hora.invalid">{{gethora()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <button mat-raised-button
              style="background-color: deepskyblue; color: white; margin-top: 7%; width: 100%;">Hora de volar</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-checkbox class="example-margin" [(ngModel)]="checked" (click)="openDialog()">Aceptar Reconocimiento y
              Suposición de Riesgos</mat-checkbox>
          </div>
          <div class="col-6">
            <div class="">
              <input class="form-control" type="file" id="formFile">
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="mostrar1">
        <mat-expansion-panel-header>
          <mat-panel-title >
            Datos del participante - 2
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Tipo de documento</mat-label>
              <mat-select>
                <mat-option value="option">DNI</mat-option>
                <mat-option value="option">Carnet de extranjería</mat-option>
                <mat-option value="option">Pasaporte</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-5">
            <mat-form-field style="width: 100%;">
              <mat-label>Nr. Documento</mat-label>
              <input matInput [formControl]="dni1" required>
              <mat-error *ngIf="dni1.invalid">{{getdni()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-1">
            <div class="rounded-circle"
              style="width: 100%; height: 40%; background-color: rgb(0, 0, 0); margin-left: -10%; margin-top: 30%;">
              <svg xmlns="http://www.w3.org/2000/svg" height="50%" style="margin-top: 25%; margin-left: 25%; "
                viewBox="0 0 512 512">
                <style>
                  svg {
                    fill: #ffffff
                  }
                </style>
                <path
                  d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
              </svg>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Nombres</mat-label>
              <input matInput [formControl]="nom1" required>
              <mat-error *ngIf="nom1.invalid">{{getnom()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Apellidos</mat-label>
              <input matInput [formControl]="ape1" required>
              <mat-error *ngIf="ape1.invalid">{{getape()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Teléfono</mat-label>
              <input matInput [formControl]="telf1" required>
              <mat-error *ngIf="telf1.invalid">{{gettelf()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Dirección</mat-label>
              <input matInput [formControl]="dir1" required>
              <mat-error *ngIf="dir1.invalid">{{getdir()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Correo electrónico</mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email1" required>
              <mat-error *ngIf="email1.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field style="width: 100%;">
              <mat-label>Hora</mat-label>
              <input matInput [formControl]="hora1" required type="time">
              <mat-error *ngIf="hora1.invalid">{{gethora()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <button mat-raised-button
              style="background-color: deepskyblue; color: white; margin-top: 7%; width: 100%;">Hora de volar</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-checkbox class="example-margin" [(ngModel)]="checked1" (click)="openDialog()">Aceptar Reconocimiento y
              Suposición de Riesgos</mat-checkbox>
          </div>
          <div class="col-6">
            <div class="">
              <input class="form-control" type="file" id="formFile">
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="mostrar2">
        <mat-expansion-panel-header>
          <mat-panel-title >
            Datos del participante - 3
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Tipo de documento</mat-label>
              <mat-select>
                <mat-option value="option">DNI</mat-option>
                <mat-option value="option">Carnet de extranjería</mat-option>
                <mat-option value="option">Pasaporte</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-5">
            <mat-form-field style="width: 100%;">
              <mat-label>Nr. Documento</mat-label>
              <input matInput [formControl]="dni2" required>
              <mat-error *ngIf="dni2.invalid">{{getdni()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-1">
            <div class="rounded-circle"
              style="width: 100%; height: 40%; background-color: rgb(0, 0, 0); margin-left: -10%; margin-top: 30%;">
              <svg xmlns="http://www.w3.org/2000/svg" height="50%" style="margin-top: 25%; margin-left: 25%; "
                viewBox="0 0 512 512">
                <style>
                  svg {
                    fill: #ffffff
                  }
                </style>
                <path
                  d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
              </svg>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Nombres</mat-label>
              <input matInput [formControl]="nom2" required>
              <mat-error *ngIf="nom2.invalid">{{getnom()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Apellidos</mat-label>
              <input matInput [formControl]="ape2" required>
              <mat-error *ngIf="ape2.invalid">{{getape()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Teléfono</mat-label>
              <input matInput [formControl]="telf2" required>
              <mat-error *ngIf="telf2.invalid">{{gettelf()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Dirección</mat-label>
              <input matInput [formControl]="dir2" required>
              <mat-error *ngIf="dir2.invalid">{{getdir()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Correo electrónico</mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email2" required>
              <mat-error *ngIf="email2.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field style="width: 100%;">
              <mat-label>Hora</mat-label>
              <input matInput [formControl]="hora2" required type="time">
              <mat-error *ngIf="hora2.invalid">{{gethora()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <button mat-raised-button
              style="background-color: deepskyblue; color: white; margin-top: 7%; width: 100%;">Hora de volar</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-checkbox class="example-margin" [(ngModel)]="checked2" (click)="openDialog()">Aceptar Reconocimiento y
              Suposición de Riesgos</mat-checkbox>
          </div>
          <div class="col-6">
            <div class="">
              <input class="form-control" type="file" id="formFile">
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="mostrar3">
        <mat-expansion-panel-header>
          <mat-panel-title >
            Datos del participante - 4
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Tipo de documento</mat-label>
              <mat-select>
                <mat-option value="option">DNI</mat-option>
                <mat-option value="option">Carnet de extranjería</mat-option>
                <mat-option value="option">Pasaporte</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-5">
            <mat-form-field style="width: 100%;">
              <mat-label>Nr. Documento</mat-label>
              <input matInput [formControl]="dni3" required>
              <mat-error *ngIf="dni3.invalid">{{getdni()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-1">
            <div class="rounded-circle"
              style="width: 100%; height: 40%; background-color: rgb(0, 0, 0); margin-left: -10%; margin-top: 30%;">
              <svg xmlns="http://www.w3.org/2000/svg" height="50%" style="margin-top: 25%; margin-left: 25%; "
                viewBox="0 0 512 512">
                <style>
                  svg {
                    fill: #ffffff
                  }
                </style>
                <path
                  d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
              </svg>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Nombres</mat-label>
              <input matInput [formControl]="nom3" required>
              <mat-error *ngIf="nom3.invalid">{{getnom()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Apellidos</mat-label>
              <input matInput [formControl]="ape3" required>
              <mat-error *ngIf="ape3.invalid">{{getape()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Teléfono</mat-label>
              <input matInput [formControl]="telf3" required>
              <mat-error *ngIf="telf3.invalid">{{gettelf()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Dirección</mat-label>
              <input matInput [formControl]="dir3" required>
              <mat-error *ngIf="dir3.invalid">{{getdir()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Correo electrónico</mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email3" required>
              <mat-error *ngIf="email3.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field style="width: 100%;">
              <mat-label>Hora</mat-label>
              <input matInput [formControl]="hora3" required type="time">
              <mat-error *ngIf="hora3.invalid">{{gethora()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <button mat-raised-button
              style="background-color: deepskyblue; color: white; margin-top: 7%; width: 100%;">Hora de volar</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-checkbox class="example-margin" [(ngModel)]="checked3" (click)="openDialog()">Aceptar Reconocimiento y
              Suposición de Riesgos</mat-checkbox>
          </div>
          <div class="col-6">
            <div class="">
              <input class="form-control" type="file" id="formFile">
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="mostrar4">
        <mat-expansion-panel-header>
          <mat-panel-title >
            Datos del participante - 5
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Tipo de documento</mat-label>
              <mat-select>
                <mat-option value="option">DNI</mat-option>
                <mat-option value="option">Carnet de extranjería</mat-option>
                <mat-option value="option">Pasaporte</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-5">
            <mat-form-field style="width: 100%;">
              <mat-label>Nr. Documento</mat-label>
              <input matInput [formControl]="dni4" required>
              <mat-error *ngIf="dni4.invalid">{{getdni()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-1">
            <div class="rounded-circle"
              style="width: 100%; height: 40%; background-color: rgb(0, 0, 0); margin-left: -10%; margin-top: 30%;">
              <svg xmlns="http://www.w3.org/2000/svg" height="50%" style="margin-top: 25%; margin-left: 25%; "
                viewBox="0 0 512 512">
                <style>
                  svg {
                    fill: #ffffff
                  }
                </style>
                <path
                  d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
              </svg>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Nombres</mat-label>
              <input matInput [formControl]="nom4" required>
              <mat-error *ngIf="nom4.invalid">{{getnom()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Apellidos</mat-label>
              <input matInput [formControl]="ape4" required>
              <mat-error *ngIf="ape4.invalid">{{getape()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Teléfono</mat-label>
              <input matInput [formControl]="telf4" required>
              <mat-error *ngIf="telf4.invalid">{{gettelf()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Dirección</mat-label>
              <input matInput [formControl]="dir4" required>
              <mat-error *ngIf="dir4.invalid">{{getdir()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Correo electrónico</mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email4" required>
              <mat-error *ngIf="email4.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field style="width: 100%;">
              <mat-label>Hora</mat-label>
              <input matInput [formControl]="hora4" required type="time">
              <mat-error *ngIf="hora4.invalid">{{gethora()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <button mat-raised-button
              style="background-color: deepskyblue; color: white; margin-top: 7%; width: 100%;">Hora de volar</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-checkbox class="example-margin" [(ngModel)]="checked4" (click)="openDialog()">Aceptar Reconocimiento y
              Suposición de Riesgos</mat-checkbox>
          </div>
          <div class="col-6">
            <div class="">
              <input class="form-control" type="file" id="formFile">
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="mostrar5">
        <mat-expansion-panel-header>
          <mat-panel-title >
            Datos del participante - 6
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Tipo de documento</mat-label>
              <mat-select>
                <mat-option value="option">DNI</mat-option>
                <mat-option value="option">Carnet de extranjería</mat-option>
                <mat-option value="option">Pasaporte</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-5">
            <mat-form-field style="width: 100%;">
              <mat-label>Nr. Documento</mat-label>
              <input matInput [formControl]="dni5" required>
              <mat-error *ngIf="dni5.invalid">{{getdni()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-1">
            <div class="rounded-circle"
              style="width: 100%; height: 40%; background-color: rgb(0, 0, 0); margin-left: -10%; margin-top: 30%;">
              <svg xmlns="http://www.w3.org/2000/svg" height="50%" style="margin-top: 25%; margin-left: 25%; "
                viewBox="0 0 512 512">
                <style>
                  svg {
                    fill: #ffffff
                  }
                </style>
                <path
                  d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
              </svg>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Nombres</mat-label>
              <input matInput [formControl]="nom5" required>
              <mat-error *ngIf="nom5.invalid">{{getnom()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Apellidos</mat-label>
              <input matInput [formControl]="ape5" required>
              <mat-error *ngIf="ape5.invalid">{{getape()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Teléfono</mat-label>
              <input matInput [formControl]="telf5" required>
              <mat-error *ngIf="telf5.invalid">{{gettelf()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Dirección</mat-label>
              <input matInput [formControl]="dir5" required>
              <mat-error *ngIf="dir5.invalid">{{getdir()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Correo electrónico</mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email5" required>
              <mat-error *ngIf="email5.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field style="width: 100%;">
              <mat-label>Hora</mat-label>
              <input matInput [formControl]="hora5" required type="time">
              <mat-error *ngIf="hora5.invalid">{{gethora()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <button mat-raised-button
              style="background-color: deepskyblue; color: white; margin-top: 7%; width: 100%;">Hora de volar</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-checkbox class="example-margin" [(ngModel)]="checked5" (click)="openDialog()">Aceptar Reconocimiento y
              Suposición de Riesgos</mat-checkbox>
          </div>
          <div class="col-6">
            <div class="">
              <input class="form-control" type="file" id="formFile">
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="mostrar6">
        <mat-expansion-panel-header>
          <mat-panel-title >
            Datos del participante - 7
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Tipo de documento</mat-label>
              <mat-select>
                <mat-option value="option">DNI</mat-option>
                <mat-option value="option">Carnet de extranjería</mat-option>
                <mat-option value="option">Pasaporte</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-5">
            <mat-form-field style="width: 100%;">
              <mat-label>Nr. Documento</mat-label>
              <input matInput [formControl]="dni6" required>
              <mat-error *ngIf="dni6.invalid">{{getdni()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-1">
            <div class="rounded-circle"
              style="width: 100%; height: 40%; background-color: rgb(0, 0, 0); margin-left: -10%; margin-top: 30%;">
              <svg xmlns="http://www.w3.org/2000/svg" height="50%" style="margin-top: 25%; margin-left: 25%; "
                viewBox="0 0 512 512">
                <style>
                  svg {
                    fill: #ffffff
                  }
                </style>
                <path
                  d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
              </svg>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Nombres</mat-label>
              <input matInput [formControl]="nom6" required>
              <mat-error *ngIf="nom6.invalid">{{getnom()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Apellidos</mat-label>
              <input matInput [formControl]="ape6" required>
              <mat-error *ngIf="ape6.invalid">{{getape()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Teléfono</mat-label>
              <input matInput [formControl]="telf6" required>
              <mat-error *ngIf="telf6.invalid">{{gettelf()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Dirección</mat-label>
              <input matInput [formControl]="dir6" required>
              <mat-error *ngIf="dir6.invalid">{{getdir()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Correo electrónico</mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email6" required>
              <mat-error *ngIf="email6.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field style="width: 100%;">
              <mat-label>Hora</mat-label>
              <input matInput [formControl]="hora6" required type="time">
              <mat-error *ngIf="hora6.invalid">{{gethora()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <button mat-raised-button
              style="background-color: deepskyblue; color: white; margin-top: 7%; width: 100%;">Hora de volar</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-checkbox class="example-margin" [(ngModel)]="checked6" (click)="openDialog()">Aceptar Reconocimiento y
              Suposición de Riesgos</mat-checkbox>
          </div>
          <div class="col-6">
            <div class="">
              <input class="form-control" type="file" id="formFile">
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="mostrar7">9
        <mat-expansion-panel-header>
          <mat-panel-title >
            Datos del participante - 8
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Tipo de documento</mat-label>
              <mat-select>
                <mat-option value="option">DNI</mat-option>
                <mat-option value="option">Carnet de extranjería</mat-option>
                <mat-option value="option">Pasaporte</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-5">
            <mat-form-field style="width: 100%;">
              <mat-label>Nr. Documento</mat-label>
              <input matInput [formControl]="dni7" required>
              <mat-error *ngIf="dni7.invalid">{{getdni()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-1">
            <div class="rounded-circle"
              style="width: 100%; height: 40%; background-color: rgb(0, 0, 0); margin-left: -10%; margin-top: 30%;">
              <svg xmlns="http://www.w3.org/2000/svg" height="50%" style="margin-top: 25%; margin-left: 25%; "
                viewBox="0 0 512 512">
                <style>
                  svg {
                    fill: #ffffff
                  }
                </style>
                <path
                  d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
              </svg>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Nombres</mat-label>
              <input matInput [formControl]="nom7" required>
              <mat-error *ngIf="nom7.invalid">{{getnom()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Apellidos</mat-label>
              <input matInput [formControl]="ape7" required>
              <mat-error *ngIf="ape7.invalid">{{getape()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Teléfono</mat-label>
              <input matInput [formControl]="telf7" required>
              <mat-error *ngIf="telf7.invalid">{{gettelf()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Dirección</mat-label>
              <input matInput [formControl]="dir7" required>
              <mat-error *ngIf="dir7.invalid">{{getdir()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Correo electrónico</mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email7" required>
              <mat-error *ngIf="email7.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field style="width: 100%;">
              <mat-label>Hora</mat-label>
              <input matInput [formControl]="hora7" required type="time">
              <mat-error *ngIf="hora7.invalid">{{gethora()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <button mat-raised-button
              style="background-color: deepskyblue; color: white; margin-top: 7%; width: 100%;">Hora de volar</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-checkbox class="example-margin" [(ngModel)]="checked7" (click)="openDialog()">Aceptar Reconocimiento y
              Suposición de Riesgos</mat-checkbox>
          </div>
          <div class="col-6">
            <div class="">
              <input class="form-control" type="file" id="formFile">
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="mostrar8">
        <mat-expansion-panel-header>
          <mat-panel-title >
            Datos del participante - 9
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Tipo de documento</mat-label>
              <mat-select>
                <mat-option value="option">DNI</mat-option>
                <mat-option value="option">Carnet de extranjería</mat-option>
                <mat-option value="option">Pasaporte</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-5">
            <mat-form-field style="width: 100%;">
              <mat-label>Nr. Documento</mat-label>
              <input matInput [formControl]="dni8" required>
              <mat-error *ngIf="dni8.invalid">{{getdni()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-1">
            <div class="rounded-circle"
              style="width: 100%; height: 40%; background-color: rgb(0, 0, 0); margin-left: -10%; margin-top: 30%;">
              <svg xmlns="http://www.w3.org/2000/svg" height="50%" style="margin-top: 25%; margin-left: 25%; "
                viewBox="0 0 512 512">
                <style>
                  svg {
                    fill: #ffffff
                  }
                </style>
                <path
                  d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
              </svg>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Nombres</mat-label>
              <input matInput [formControl]="nom8" required>
              <mat-error *ngIf="nom8.invalid">{{getnom()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Apellidos</mat-label>
              <input matInput [formControl]="ape8" required>
              <mat-error *ngIf="ape8.invalid">{{getape()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Teléfono</mat-label>
              <input matInput [formControl]="telf8" required>
              <mat-error *ngIf="telf8.invalid">{{gettelf()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Dirección</mat-label>
              <input matInput [formControl]="dir8" required>
              <mat-error *ngIf="dir8.invalid">{{getdir()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Correo electrónico</mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email8" required>
              <mat-error *ngIf="email8.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field style="width: 100%;">
              <mat-label>Hora</mat-label>
              <input matInput [formControl]="hora8" required type="time">
              <mat-error *ngIf="hora8.invalid">{{gethora()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <button mat-raised-button
              style="background-color: deepskyblue; color: white; margin-top: 7%; width: 100%;">Hora de volar</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-checkbox class="example-margin" [(ngModel)]="checked8" (click)="openDialog()">Aceptar Reconocimiento y
              Suposición de Riesgos</mat-checkbox>
          </div>
          <div class="col-6">
            <div class="">
              <input class="form-control" type="file" id="formFile">
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="mostrar9">
        <mat-expansion-panel-header>
          <mat-panel-title >
            Datos del participante - 10
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Tipo de documento</mat-label>
              <mat-select>
                <mat-option value="option">DNI</mat-option>
                <mat-option value="option">Carnet de extranjería</mat-option>
                <mat-option value="option">Pasaporte</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-5">
            <mat-form-field style="width: 100%;">
              <mat-label>Nr. Documento</mat-label>
              <input matInput [formControl]="dni9" required>
              <mat-error *ngIf="dni9.invalid">{{getdni9()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-1">
            <div class="rounded-circle"
              style="width: 100%; height: 40%; background-color: rgb(0, 0, 0); margin-left: -10%; margin-top: 30%;">
              <svg xmlns="http://www.w3.org/2000/svg" height="50%" style="margin-top: 25%; margin-left: 25%; "
                viewBox="0 0 512 512">
                <style>
                  svg {
                    fill: #ffffff
                  }
                </style>
                <path
                  d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
              </svg>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Nombres</mat-label>
              <input matInput [formControl]="nom9" required>
              <mat-error *ngIf="nom9.invalid">{{getnom9()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Apellidos</mat-label>
              <input matInput [formControl]="ape9" required>
              <mat-error *ngIf="ape9.invalid">{{getape9()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Teléfono</mat-label>
              <input matInput [formControl]="telf9" required>
              <mat-error *ngIf="telf9.invalid">{{gettelf9()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Dirección</mat-label>
              <input matInput [formControl]="dir9" required>
              <mat-error *ngIf="dir9.invalid">{{getdir9()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 100%;">
              <mat-label>Correo electrónico</mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email9" required>
              <mat-error *ngIf="email9.invalid">{{getErrorMessage9()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field style="width: 100%;">
              <mat-label>Hora</mat-label>
              <input matInput [formControl]="hora9" required type="time">
              <mat-error *ngIf="hora9.invalid">{{gethora9()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <button mat-raised-button
              style="background-color: deepskyblue; color: white; margin-top: 7%; width: 100%;">Hora de volar</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-checkbox class="example-margin" [(ngModel)]="checked9" (click)="openDialog()">Aceptar Reconocimiento y
              Suposición de Riesgos</mat-checkbox>
          </div>
          <div class="col-6">
            <div class="">
              <input class="form-control" type="file" id="formFile">
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Vuelos en Paratrike</mat-card-title>
      </mat-card-header>
      <mat-card-content class="b-t-1">
        <mat-list>
          <mat-list-item>
            <div class="d-flex">
              <i></i>
              <div>date</div>
            </div>
          </mat-list-item>
          <div class="row my-3">
            <div class="fw-bold fs-5 col-9 ms-3">Compra</div>
            <div class="col-1" style="margin-left: -3%;">
              <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">{{cer}}{{aea}}</button>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-8 ms-3">Precio</div>
            <div class="col-3">
              <div class="border border-dark rounded text-center" style="width: 100%; margin-left: 19%;">{{precio}}</div>
            </div>
          </div>
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Codigo promocional
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-8">
                  <input type="text" style="height: 80%; width: 100%;">
                </div>
                <div class="col-2">
                  <button mat-button
                    style="margin-top: -20%; margin-left: -80%; background-color: deepskyblue; height: 80%;">Continuar</button>
                </div>
              </div>

            </mat-expansion-panel>
          </mat-accordion>
          <mat-list-item class="mt-2">
            <span matListItemTitle class="row">
              <div class="col-5">Total</div>
              <div class="col-7">
                <div class="text-end">S/. {{precio * aea}}</div>
                <div class="text-end">PEN</div>
              </div>
            </span>
          </mat-list-item>
        </mat-list>
        <button mat-button style="margin-left: 35%; background-color: deepskyblue;">Continuar</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>