
<div class="row">
  <h2>Completa los datos</h2>
  <div class="col-lg-8">
    <div class="border border-dark rounded-pill d-flex p-2 my-3" style="margin-left: 82%;">
      <button mat-mini-fab style="width: 25%; height: 100%;" (click)="eliminarPanel()">-</button>
      <div style="margin-left: 16%; margin-right: 16%;">{{ getFormattedNumber(contador - 1) }}</div>
      <button mat-mini-fab style="width: 25%; height: 100%;" (click)="agregarPanel()">+</button>
    </div>
    
    <mat-accordion>
      <ng-container *ngFor="let i of getRange()">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="fw-bold">
              Datos del participante - {{i + 1}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!--rellenar datos-->

          <form #f="ngForm" (ngSubmit)="onNuevoCliente()" class="" >

            <div class="row">

              <div class="col-md-6">
   
               <div class="form-group">
               <label for="select" class="form-label fw-semibold">Tipo de Documento</label>
               <select class="form-select uno mt-1" aria-label="Default select example" id="select">
                 <option selected class="fw-semibold">Tipo de Documento</option>
                 <option value="1">DNI</option>
                 <option value="2">Passport</option>
                 <option value="3">Carnet</option>
               </select>
   
             </div>
              </div>
   
              <div class="col-md-6"> 
   
               <div class="row"> 
   
                 <div class="col-md-9"> 
             <label for="identificacion"class="form-label fw-semibold">ID</label>
               <input type="text" class="form-control uno mt-1" placeholder="Coloca el número de ID" name="identificacion" id="identificacion"
                 [(ngModel)]="identificacion">
   
               </div>
   
               <div class="col-3">
   
                 <label for="estado"class="form-label fw-semibold">.</label>
               <input type="text" class="form-control uno mt-1"  name="estado" id="estado" [(ngModel)]="estado">
   
             </div>
   
             </div>
   
                 <!--  <button class="btn btn-outline-secondary" type="button" id="button-addon2" ><i class="fa-solid fa-magnifying-glass"></i></button>-->
   
             </div>
   
             </div>
   
             <!--fila 2 -->
             <div class="row">
   
               <div class="col-md-6"> 
                
   
                   <label for="nombre" class="mb-2 mt-3 fw-semibold">Nombre</label>
                 <input type="text" class="form-control mb-2 uno mt-1" name="nombre" id="nombre"  [(ngModel)]="nombre"> 
            
                 
   
               </div>
    
               <div class="col-md-6"> 
   
                
   
                   <label for="apellido_pat" class="mb-2 mt-3 fw-semibold">Apellido Paterno</label>
                <input type="text" class="form-control mb-2 uno mt-1" 
                name="apellido_pat" id="apellido_pat"  [(ngModel)]="apellido_paterno">
   
                
               
                
               </div>
    
              </div>
   
              <!--fila 3 -->
             <div class="row">
   
               <div class="col-md-6"> 
   
                 
                 <label for="apellido_mat" class="mb-2 mt-3 fw-semibold">Apellido Materno</label>
                 <input type="text" class="form-control mb-2 uno mt-1" name="apellido_mat" id="apellido_mat"  [(ngModel)]="apellido_materno">
    
                 
   
                   
                 
   
    
               </div>
    
               <div class="col-md-6"> 
   
                 <label for="f_nacimiento" class="mb-2 mt-3 fw-semibold">Fecha de Nacimiento</label>
                 <input type="date" class="form-control mb-2 mt-1 uno" name="f_nacimiento" id="f_nacimiento"  [(ngModel)]="fechaNacimiento">
    
   
                 
   
                  
                
                
               </div>
    
              </div>
   
              <!--fila 4 -->
             <div class="row">
   
               <div class="col-md-6"> 
   
                 <label for="tel" class="mb-2 mt-3 fw-semibold">Telefono</label>
                 <input type="number" class="form-control mb-2 uno mt-1" name="telefono" id="tel" [(ngModel)]="telefono">
               
             
                   
               
               </div>
    
               <div class="col-md-6"> 
   
            
                 <label for="direccion" class="mb-2 mt-3 fw-semibold">Direccion</label>
                 <input type="text" class="form-control mb-2 uno mt-1" name="direccion" id="direccion" [(ngModel)]="direccion">
   
           
               </div>
    
              </div>
   
              <!--fila 5 -->
             <div class="row">
   
               <div class="col-md-6">
                 
                 <label for="correo" class="mb-2 mt-3 fw-semibold">Correo</label>
                 <input type="email" class="form-control mb-2 uno mt-1" name="correo" id="correo" [(ngModel)]="correo">
   
                 
                 
   
               </div>
    
               <div class="col-md-6"> 
   
                 <label for="fecha_vuelo" class="mb-2 mt-3 fw-semibold">Fecha de vuelo</label>
                   <input type="date" class="form-control mb-2 uno mt-1" name="fecha_vuelo" id="fecha_vuelo" [(ngModel)]="fecha_reserva">
    
               </div>
   
               <div class="row">
   
                 <div class="col-md-6">
   
                   <div class="form-check">
                     <input class="form-check-input mt-3 fw-semibold mt-1" type="checkbox" value="" id="flexCheckDefault" data-bs-toggle="modal" href="#exampleModalToggle" role="button">
                     <label class="form-check-label mt-3 fw-semibold" for="flexCheckDefault">
                       Aceptar Reconocimiento y Suposición de  Riesgos 
                     </label>
                   </div>
                         
                   
                 </div>
                 <div class="col-md-6">
                   <label for="inputImage" class="form-label mt-3 fw-semibold">Seleccionar imagen</label>
                   <input type="file" class="form-control uno mt-1" id="inputImage" accept="image/*">
                 </div>
               </div>
    
              </div>
   
   
              <div class="row">
   
               <div class="col-12 text-center mt-3">
     
                 <button
                 class="btn btn-success btn-sm mb-3 btn-block fw-bold w-50 border-3"
                 [disabled]="!f.valid"
               >
                 Guardar
               </button>
     
     
               </div>
     
     
             </div>
   

          </form>

        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
    

   
  </div>

  <div class="col-lg-4 mt-3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Vuelos en Paratrike</mat-card-title>
      </mat-card-header>
      <mat-card-content class="b-t-1">
        <mat-list>
          <mat-list-item>
            <div class="d-flex">
              <i></i>
              <div class="fw-bold">
                {{ selectedDateTime | date : "medium" }}
              </div>
            </div>
          </mat-list-item>
          <div class="row my-3">
            <div class="fw-bold fs-5 col-9 ms-3">Compra</div>
            <div class="col-1" style="margin-left: -3%">
              <button
                mat-mini-fab
                color="accent"
                aria-label="Example icon button with a plus one icon"
              >
                {{ contador }}
              </button>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-8 ms-3">Precio</div>
            <div class="col-3">
              <input [(ngModel)]="precio" type="number" class="w-100 ms-2" />
            </div>
          </div>
          <mat-accordion>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title> Codigo promocional </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-8">
                  <input type="text" style="height: 80%; width: 100%" />
                </div>
                <div class="col-2">
                  <button
                    mat-button
                    style="
                      margin-top: -20%;
                      margin-left: -80%;
                      background-color: deepskyblue;
                      height: 80%;
                    "
                  >
                    Continuar
                  </button>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-list-item class="mt-2">
            <span matListItemTitle class="row">
              <div class="col-5 fw-bold">Total</div>
              <div class="col-7">
                <div class="text-end fw-bold">S/. {{ precio * contador }}</div>
                <div class="text-end fw-bold">PEN</div>
              </div>
            </span>
          </mat-list-item>
        </mat-list>
        <button
          mat-button
          style="margin-left: 35%; background-color: deepskyblue"
        >
          <h6 class="text-white fw-bold">Continuar</h6>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>


