<div class="row">
  <h2>Completa los datos</h2>
  <div class="col-md-8">
    <div class="border border-dark rounded-pill d-flex p-2 my-3" style="margin-left: 82%;">
      <button mat-mini-fab style="width: 25%; height: 100%;" (click)="eliminarPanel()">-</button>
      <div style="margin-left: 16%; margin-right: 16%;">{{ contador }}</div>
      <button mat-mini-fab style="width: 25%; height: 100%;" (click)="agregarPanel()">+</button>
    </div>
   
    
    <mat-accordion>
      <ng-container *ngFor="let i of getRange()">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Datos del participante - {{ i + 1 }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- Contenido del panel -->
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </div>
  <div class="col-md-4 mt-3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Vuelos en Paratrike</mat-card-title>
      </mat-card-header>
      <mat-card-content class="b-t-1">
        <mat-list>
          <mat-list-item>
            <div class="d-flex">
              <i></i>
              <div>date</div>
            </div>
          </mat-list-item>
          <div class="row my-3">
            <div class="fw-bold fs-5 col-9 ms-3">Compra</div>
            <div class="col-1" style="margin-left: -3%;">
              <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">{{cer}}{{aea}}</button>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-8 ms-3">Precio</div>
            <div class="col-3">
              <div class="border border-dark rounded text-center" style="width: 100%; margin-left: 19%;">{{precio}}</div>
            </div>
          </div>
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Codigo promocional
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-8">
                  <input type="text" style="height: 80%; width: 100%;">
                </div>
                <div class="col-2">
                  <button mat-button
                    style="margin-top: -20%; margin-left: -80%; background-color: deepskyblue; height: 80%;">Continuar</button>
                </div>
              </div>

            </mat-expansion-panel>
          </mat-accordion>
          <mat-list-item class="mt-2">
            <span matListItemTitle class="row">
              <div class="col-5">Total</div>
              <div class="col-7">
                <div class="text-end">S/. {{precio * aea}}</div>
                <div class="text-end">PEN</div>
              </div>
            </span>
          </mat-list-item>
        </mat-list>
        <button mat-button style="margin-left: 35%; background-color: deepskyblue;">Continuar</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>