.available-date {
    background-color: green; /* Establece un color de fondo para indicar disponibilidad */
    pointer-events: auto; /* Permite la interacción con fechas disponibles */
    /* Otros estilos personalizados */
  }

  .uno{
    background-color: #F9F9F9; 
    border-radius: 0.5rem; 
    box-shadow: 0px 3px 2px #40404099 ;
}
