
<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a >
              <img
                src="https://firebasestorage.googleapis.com/v0/b/paratrike-fl.appspot.com/o/image%201.svg?alt=media&token=22ab191e-4010-40eb-931e-9e8d027d79b9"
                class="align-middle m-2 w-50 h-25"
                alt="logo"
              />
            </a>
          </div>

          <div class="row m-t-24 custom-row">
            <div class="col-12 col-sm-6">
              <button mat-stroked-button class="w-100" (click)="auth.loginWithRedirect()">
                <div class="d-flex align-items-center" >
                 
                  <img
                    src="/assets/images/svgs/google-icon.svg"
                    alt="google"
                    width="16"
                    class="m-r-8"
                  />
                  Iniciar sesión con Google
                </div>
              </button>
            </div>
            
          </div>

          <div class="or-border m-t-30 fw-bold">INICIAR SESIÓN </div>

          <form class="m-t-30">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Usuario</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput />
            </mat-form-field>
            <!-- password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Contraseña</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" />
            </mat-form-field>

            <div class="d-flex align-items-center m-b-12">
              <mat-checkbox color="primary">Recordar Usuario</mat-checkbox>
              
            </div>
            <a [routerLink]="['/dashboard']" mat-flat-button color="primary" class="w-100">
              Iniciar
            </a>
            <!-- input -->
          </form>
          
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
