<h4>REGISTRAR UN NUEVO DESCUENTO</h4>
<br />
<div class="row">
  <div class="col-7">
    <mat-card class="cardWithShadow theme-card">
      <mat-card-header>
        <mat-card-title class="m-b-0 text-center ms-md-4"
          >AGREGAR DESCUENTO</mat-card-title
        >
      </mat-card-header>
      <form [formGroup]="myForm" (submit)="submitForm()">
        <div class="row">
          <div class="col-6">
            <!--file one -->
            <mat-form-field class="ms-md-5 w-75">
              <mat-label>Ingresa un nuevo codigo</mat-label>
              <input matInput formControlName="name" required />
              <mat-error>Coloca el codigo </mat-error>
            </mat-form-field>
          </div>

          <div class="col-6">
            <mat-form-field class="w-75">
              <mat-label>Ingresa el Porcentaje</mat-label>
              <input matInput formControlName="porcentaje" required email />
              <mat-error>Coloca el porcentaje </mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- file two-->

        <div class="row mt-2">
          <div class="col-6">
            <!-- -->
            <mat-form-field class="ms-md-5 w-75">
              <mat-label>Fecha de inicio</mat-label>
              <input
                matInput
                [matDatepicker]="startDatePicker"
                formControlName="startDate"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="startDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-6">
            <mat-form-field class="w-75">
              <mat-label>Fecha de fin</mat-label>
              <input
                matInput
                [matDatepicker]="endDatePicker"
                formControlName="endDate"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="endDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <button
              mat-raised-button
              class="text-bg-info btn-debug mb-4 mt-2"
              type="submit"
            >
              <p class="text-white text-md-center mt-3">
                Agregar Nuevo Descuento
              </p>
            </button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>

  <div class="col-5">
    <mat-card class="cardWithShadow theme-card">
      <mat-card-header>
        <mat-card-title class="m-b-0">LISTA DE DESCUENTO</mat-card-title>
      </mat-card-header>
      <!--table -->
      <div class="p-2">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Codigo</th>
            <th scope="col" class="text-center">Des. %</th>
            <th scope="col" class="text-center">Fecha Inicio</th>
            <th scope="col" class="text-center">Fecha Fin</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-center">1</th>
            <td class="text-center">FLY-2023</td>
            <td class="text-center">23%</td>
            <td class="text-center">06-15-23</td>
            <td class="text-center">06-25-23</td>
          </tr>
         
        </tbody>
      </table>
    </div>
    </mat-card>
  </div>
</div>
